html,
body,
main {
    background-color: hsl(30, 38%, 92%);
    height: 100%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
}

.card-image {
    background-repeat: no-repeat;
    background-size: contain;
    /* border-radius: inherit; */
}

.price-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.cart-button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2.3em;
}

p {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    line-height: 1.5rem;
}

.price-1 {
    font-size: 2rem;
    font-family: "Fraunces", serif;
    color: hsl(158, 36%, 37%);
}

.price-2 {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.perfume {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
        width: 40em;
        height: 30em;
    }

    .card-image {
        width: 57%;
        height: 100%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background-image: url("./images/image-product-desktop.jpg");
    }

    .card-content {
        /* margin: 1rem; */
        margin-right: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 43%;
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: row;
        width: 40em;
        height: 40em;
    }

    .card-image {
        height: 100%;
        background-image: url("./images/image-product-mobile.jpg");
    }
}
